---
layout: default
title: Home
image: assets/images/social-image.png
description: |-
  "Ben is a pretty great guy. Incredibly handsome but with the brains too. He's a bit of a web nerd though." - One of Ben's ex-girlfriends
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
